# Python cache and build files
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
env/
data_migration_spark_mongo/venv-optimized

# Environment variables
.env
*.env

# SQLite database files
*.db

# AVRO backup files
/backups/*.avro
/data_migration_spark_mongo/backups/


# Log files
*.log

# VS Code settings
.vscode/

# macOS and Windows system files
.DS_Store
Thumbs.db

# Docker temporary files
*.pid
*.tar
*.bak

# Mock data
departments_batch_1000.json
jobs_batch_1000.json
hired_employees_batch_1000.json
