# Python cache and build files
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
env/
data_migration_spark_mongo/venv-optimized

# Environment variables
.env
*.env

# SQLite database files
*.db

# AVRO backup files
/backups/*.avro

# Log files
*.log

# VS Code settings
.vscode/

# macOS and Windows system files
.DS_Store
Thumbs.db

# Docker temporary files
*.pid
*.tar
*.bak
